.panel, .panel-default {
    padding: 5mm;
}
html, body {
    height: 100%;
}

body .container {
    padding: 2% 5% 2% 5%;
    height: 100%;
}
#welcome-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    margin:0 auto;
    max-width: 1000px;
    height: 100%;
    padding: 3%;
}

#background-image {
    bottom: 0;
    left: 0;
    position: absolute;
    max-height: 65%;
}
.tangible-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
h1, h2, h3 {
    color:gray;
    margin:0;
}
.xl-h1 {
    font-size: 7em;
}
.vertical-center {
    margin: auto;
    position: absolute;
    bottom: 50%; right: 5%;
}
on-top {
    z-index: 10;
}
#login-form-group {
    padding-left: 5%;
    padding-right: 5%;
}

@media all and (max-width: 1200px) { /* screen size until 1200px */
    .xl-h1 {
        font-size: 7em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    .xl-h1 {
        font-size: 6em; /* 1.2x default size */
    }
}
@media all and (max-width: 500px) { /* screen size until 500px */
    .xl-h1 {
        font-size: 4em; /* 0.8x default size */
    }
    h1 {
        font-size: 2.3em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1em;
    }
    #background-image {
        max-width: 95%;
    }
    #welcome-panel {
        box-shadow: none;
    }
}

@media all and (max-height: 350px) { /* screen size until 1200px */
    #welcome-message {
        display: none;
    }
}
